body, button {
	font-family: Helvetica, Arial, sans-serif;
}

#page {
	width: 900px;
	margin: 20px auto;
}

#page h1 {
	margin: 0;
}

.slider {
	width: 480px;
	float: left;
}

.preview {
	float: left;
	margin-left: 20px;
	width: 250px;
}

table {
	border-collapse: collapse;
}

th {
	vertical-align: middle;
	font-weight: bold;
	text-align: right;
}

td, th {
	border-bottom: 2px solid #ccc;
	padding: 10px;
}

td.time {
	width: 800px;
}

.Time {
	padding: 10px;
	position: relative;
	background: #eee;
	margin: 5px 0;
}

h2 {
	font-size: 20px;
}

h3 {
	margin: 10px 0 0 0;
	font-size: 16px;
	color: #444;
}

.OverlapTable {
	margin: 25px 0;
}

input {
	font-size: 14px;
	padding: 2px;
}

.comment {
	clear: both;
	width: 745px;
	margin-top: 5px;
}

.clear {
	position: absolute;
	right: 0;
	top: -2px;
	bottom: -2px;
	background: #c0392b;
	width: 30px;
	border: 0;
	color: white;
	opacity: 0.7;
}

#slots .slider {
	border-radius: 0;
}

.clear:hover {
	opacity: 1;
	cursor: pointer;
}

.main-button {
	background: #27ae60;
	border: 0;
	color: white;
	padding: 5px 10px;
	font-size: 14px;
}

.big-button {
	background: #3498db;
	border: 0;
	color: white;
	padding: 10px 20px;
	font-size: 18px;	
	margin: 0;
	margin-top: 10px;
}

#link {
	margin-left: 10px;
}